<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nova Reclamação - Marajoara</title>
	<link rel="stylesheet" th:href="@{/Style/Adm/style_reclamacoes_ADM.css}">

</head>

<body>
	<!--header-->
	<header>
		<div class="nav_logo">
			<img class="img_logo" th:src="@{/Images/img_logo.jpg}" alt="Logo Marajoara">
		</div>
		<div class="nav_area_user">
			<p class="p_nav" th:text="${usuario.nome}"></p>
			<img class="img_nav_login" th:src="@{/Images/img_profile_icon.png}" alt="Ícone do Usuário"
				onclick="toggleDropdown()">
			<div id="user-dropdown" class="dropdown-menu">
				<a th:href="@{/adm/perfil}">Perfil</a>
				<a th:href="@{/adm/configuracoes}">Configurações</a>
				<a th:href="@{/logout}">Sair</a>
			</div>
		</div>
	</header>
	<div class="container_flex">
		<div class="container-menu-containers">
			<!--botoes-->
			<nav class="button-containter">
				<h2 class="menu-text" style="text-align: center;">Menu</h2>
				<hr>
				<a th:href="@{/adm/eventos}" style="text-decoration: none; color: black; ">
					<div class="btn">
						EVENTOS
					</div>
				</a>
				<a th:href="@{/adm/achados}" style="text-decoration: none; color: black;">
					<div class="btn">
						ACHADOS E PERDIDOS
					</div>
				</a>
				<a th:href="@{/adm/aluguel}" style="text-decoration: none; color: black; ">
					<div class="btn">
						ALUGUEL
					</div>
				</a>
				<a th:href="@{/adm/reclamacoes}" style="text-decoration: none; color: black; ">
					<div class="btn">
						RECLAMAÇÕES
					</div>
				</a>
			</nav>
		</div>

		<!-- Formulário de Reclamação -->
		<main>
			<section class="reclamacao-container">
				<h1>RECLAMAÇÕES
				</h1>
				<form id="formReclamacao" action="#" th:action="@{/emailSender/sendAdm}" th:object="${employee}"
					method="post">
					<div class="input-group">
						<label for="categoria">Categoria</label>
						<input type="hidden" name="email" id="email-to-send" value="joao.plbsilva@gmail.com">
						<input type="hidden" name="remetente" th:value="${usuario.email}">
						<select id="categoria" name="titulo" required>
							<option value="" disabled selected>Selecione uma categoria</option>
							<option value="barulho">Barulho</option>
							<option value="manutencao">Manutenção</option>
							<option value="seguranca">Segurança</option>
							<option value="outros">Outros</option>
						</select>
					</div>
					<div class="input-group">
						<label for="descricao">Descrição</label>
						<textarea id="descricao" name="mensagem" rows="5" placeholder="Descreva sua reclamação"
							required></textarea>
					</div>
					<button type="submit">Enviar Reclamação</button>
				</form>
			</section>
		</main>
	</div>
	<script th:src="@{/Scripts/ADM/script_reclamacoesADM.js}"></script>
</body>

</html>